body{
    font-family:'Open Sans', sans-serif;
    margin:0;
    padding: 0;
    display: flex; /*changé*/
}


/*Aside */
aside{
background-color: #00BCD4;
flex: 1.2;
position: relative; /*garde ou pas?*/
}

aside h3{
    background-color: #006064;
    color:whitesmoke;
    font-family:'Open Sans', sans-serif;
    text-align: center;    
}

aside p{
    padding-left: 30px;
    padding-right: 30px;
}

.asideapropos{
    text-align: justify;
    padding-bottom: 50px;
    
}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #0097A7;
  }

a{
color: black;
text-decoration: none;
}
a:hover{
    color: #80DEEA;
}
aside i{
   align-content: space-around;
   margin-right: 5px;
}
.asideicone{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
}


h1 strong{
    color: #00BCD4;
    font-weight: bold;
}
h1{
    font-size: xx-large;
}
h2{
    position: relative;
    line-height: 1em;
}
h2:before {
    position: absolute;
    left: 0;
    top: 1.2em;
    height: 0;
    width: 65px;
    content: '';
    border-top: 2px solid #00BCD4;
  }

/*Section changé->display flex supprimé*/
section{
  flex: 3;
}

header{
    padding-left: 100px;
}

/*Article*/
article
{
    padding-left: 100px;
    padding-right: 50px;
}

  article h3{
      padding-bottom:5px;
      border-bottom:2px solid #00BCD4 ;
  }
ul{
    list-style: none;

}
.conteneur{
display: flex;

}
.item1{
    flex:0.3;
}
.item2{
    flex: 1;
}

.conteneur2{
    display: flex;

}

