/*body*/
body {
  display: flex;
  flex-direction: row; /*les éléments sont alignés horizontalement*/
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/*balises communes*/
a {
  color: black;
  text-decoration: none;
  }
  a:hover {
  color: #80DEEA;
  }

/*Aside --partie sur le côté*/
aside {
  width: 30%;
  background-color: #00BCD4;
  display: flex;
  flex-direction: column;/*Les lignes de texte sont empilées */
  padding-bottom: 20px;
}
.photo {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
aside img {
  border-radius: 50%; /*forme ronde, sinon enlever pour photo carrée*/
  height: 200px;
  width: 200px;
  border: solid 2px #0097A7;
}
aside h3 { /*au cas où utilisation du h3 dans section, je laisse la notion aside*/
  background-color: #006064;
  color: whitesmoke;
  text-align: center;
  padding: 5px;
}
.rubrique1 p {
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
}
.rubrique2 {
  margin-top: auto;
}
.asideicone {
  display: flex;
  justify-content: space-around;
  padding: 0px 5px;
}
.asideicone i {
  text-align: center;
}
.circle-icon {
  border: 3px black solid;
  border-radius: 50%;
  padding: 15px;
}

/*Section --partie principale divisée en articles et avec un header*/
section {
  display: flex;
  flex-direction: column;/*même logique que pour aside*/
  width: 65%;
  margin:  0 50px;
  height: auto;
}
header {
 margin-bottom: 50px;
}
header h1 {
  font-size: 3em;
  margin-bottom: 10px;
}
header h2 {
  font-size: 2em;
}
section h1 {
  margin-left: 0px;
}
section h1 i {
  margin-right: 25px;
}
article {
  width: 100%;
  padding-top: 30px;
  border-top: 2px #00BCD4 solid;
}
.conteneur {
  display: flex;
  line-height: 1.3em;
  padding-top: 25px;
}
.item1 {
  width: 25%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.item1 .fas {
  margin: 5px 10px 0 0;
  width: 10%;
  height: 100%;
}
.item1 p {
  margin: 0;
}
.item2 {
  padding-left: 50px;
  width: 70%;
  margin-top: 0px;
}
li {
  list-style: none;
}
.item2 h4 {
  margin: 0;
}
footer {
  display: flex;
  justify-content: center;
}
.contact {
  margin: 0px 50px 0px 30px;
  display: flex;
  justify-content: center;
}




